{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>


<!--T//  Testing message sending >-->


<form action="/sendmessage" method="post">
  <label for="gateway">Gateway address (leave blank if unknown):</label>
  <input type="text" id="gateway" name="gateway" placeholder="e.g.: 0013A20041EFD43B">

  <label for="xmppaddress">XMPP address:</label>
  <input type="text" id="xmppaddress" name="xmppaddress" placeholder="xmppaddress">

  <label for="message">Message:</label>
  <input type="text" id="message" name="message" placeholder="message">

  <button type="submit">Send</button>
</form>

<br>

<label class="label">Messages: {{ messages }}</label>

<br>

<form method="POST" action="/getmessages">
  <input type="submit" class="button is-success is-rounded" value="Check for messages">
</form>

<br>
<!--T//  Testing message sending >-->


<form method="POST" action="/startradio">
  <input class="button is-block is-info is-large is-fullwidth" type="submit" value="Start Radio listener" name="profile">
<!--T//  <button >Sign Up</button>-->
</form>
<br>


<br>
<form method="POST" action="/killradio">
  <input class="button is-block is-info is-large is-fullwidth" type="submit" value="Kill Radio listener" name="profile">
<!--T//  <button >Sign Up</button>-->
</form>

{% endblock %}
